body {
  font-family: Georgia, serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

#logo-image {
  width: 30px;
  margin-right: 10px;
}

.book-card {
  display: flex;
  padding: 8px;
}

.book-card-contents {
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.book-card-contents p,
h3 {
  margin: 0;
}

nav {
  min-width: 100vw;
  max-height: 120px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: pink;
}

nav header {
  display: flex;
  align-items: center;
}

nav header img {
  margin-right: 15px;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links ul {
  list-style-type: none;
}

.nav-account {
  display: flex;
  align-items: center;
  margin-right: 20px
}

.nav-account ul {
  list-style-type: none;
}
/* Add your own custom styles here */
